[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
signalrcore = "==0.9.5"
python-dotenv = "==1.0.1"
psycopg2 = "==2.9.9"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "python src/main.py"
test = "python -m unittest test.test"
lint = "# To implement"
